# Version information - placeholders will be replaced during build
version.commit=@VERSION@
version.commit.full=@FULL_COMMIT@
version.repo=@REPO@
version.build.time=@BUILD_TIME@
version.branch=@BRANCH@


